body {
  padding-top: 100px;
  box-sizing: border-box;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgba(12, 13, 14, 0.1);
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
  -ms-transform: translateY(-1.875rem);
  transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: #fefefe;
}

.sticky-shrinknav-header {
  z-index: 2;
  width: 100%;
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;
  background-image: url("https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  background-color: rgba(14, 15, 15, 0.5);
}

body.sticky-shrinknav-wrapper
  .sticky-shrinknav-header
  .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease;
}

#headerLogo {
  align-content: center;
  margin-top: 10px;
}

footer {
  height: 55px;
  padding: 5px;
  width: 100%;
  color: antiquewhite;
  font-size: larger;
  background-color: rgba(14, 15, 15, 0.6);
  border-top: #3c3c3c solid 2px;
  position: fixed;
  left: 0%;
  bottom: 0;
  text-align: center;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.recipe-list {
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 20px;
  border: solid 3px #af473c;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f1f1f1;
  display: none;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.recipe-card {
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 20px;
  border: solid 3px #626e60;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: beige;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}

#submit {
  height: 40px;
  width: 80px;
  margin: 15px;
  border: 2px solid #fefefe;
  color: #fefefe;
  padding: 10px;
  text-align: center;
  background-color: #af473c;
  vertical-align: middle;
  font-weight: bolder;
  box-shadow: 7px 3px 6px ivory;
}

#submit:hover {
  background-color: #626e60;
}

#addIngr {
  height: 40px;
  width: 40px;
  margin: 15px;
  border: 2px solid #fefefe;
  color: #fefefe;
  text-align: center;
  background-color: #af473c;
  vertical-align: middle;
  font-weight: bolder;
  box-shadow: 7px 3px 6px ivory;
}

#addIngr:hover {
  background-color: #626e60;
}

.Img {
  border: solid 3px #626e60;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.Details {
  border: solid 3px #626e60;
  text-align: left;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search {
  margin: 15px;
  border: solid 3px #945d60;
}

.recipe-block {
  width: 100%;
  padding: 20px;
  border: 2px solid black;
  margin-top: 2px;
  margin: 0 auto;
  margin: 10px;
  background-color: beige;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipeBlock {
  margin: 0 auto;
  width: 100%;
}

img {
  border: solid #945d60 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vidSlot{
  margin: 0 auto;
  border: solid #945d60 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

}

.recipeDetails{
  margin-left: 40px;
  margin-top: 20px;
}

.large-8{
  color: #626e60;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#player{
margin: 20px;
}

.recipeTitle:hover{
  color: #af473c;
  cursor: pointer;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: ivory;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #af473c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}